<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.turing.mapper.DoorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.turing.entity.Door">
        <id column="id" property="id"/>
        <result column="is_open" property="open"/>
        <result column="close_info" property="closeInfo"/>
        <result column="open_info" property="openInfo"/>
        <result column="open_time" property="openTime"/>
    </resultMap>

</mapper>
