<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.turing.mapper.YesterdayRankingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.turing.entity.YesterdayRanking">
        <id column="username" property="username"/>
        <result column="study_time" property="studyTime"/>
    </resultMap>

    <select id="getRanking" resultMap="BaseResultMap">
        select *
        from sys_yesterday_ranking
        order by study_time DESC limit 5;
    </select>
</mapper>
